root = true

# -----------------------------------------------
# Common
# -----------------------------------------------
[*]
charset                  = utf-8
end_of_line              = lf
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true
insert_final_newline     = true

# -----------------------------------------------
# Java
# -----------------------------------------------
[*.java]
indent_size = 4

# -----------------------------------------------
# Kotlin
# -----------------------------------------------
[*.{kt,kts}]
indent_size = 4

# -----------------------------------------------
# YAML / Properties
# -----------------------------------------------
[*.{yml,yaml,properties}]
indent_size = 2

# -----------------------------------------------
# JSON
# -----------------------------------------------
[*.json]
indent_size = 2

# -----------------------------------------------
# XML
# -----------------------------------------------
[*.xml]
indent_size = 4

# -----------------------------------------------
# SQL
# -----------------------------------------------
[*.sql]
indent_size = 4

# -----------------------------------------------
# Markdown
# -----------------------------------------------
[*.md]
trim_trailing_whitespace = false
